#title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#main {
    margin: auto;
    width: 60%;
}

#filter {
    display: flex;
    justify-content: space-between;
}

.product-row {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    padding: 5px;
    border: 1px solid;
    border-radius: 10px;
    justify-content: space-between;
}


#goToBasket {
    float: right;
}

#userCity{
    cursor: pointer;
    color: cornflowerblue;
}
